@charset "utf-8";
html,body{
    width: 100%;
}
div#spinner-wraper{
    display:none !important;
}
div#login-wraper{
    display:none !important;
}
div#content{
    display:none !important;
}
div#print_container{
    display: block;
    width: calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    margin: 0;
    float: none;
    padding: 10px;
    background-image: url(../images/bill_bg.png);
}
div#print_container_header{
    text-align: center;
}
div#print_container_body{
    margin: 10px auto 0 auto;
}
div#print_container_footer{
    text-align: center;
    margin-top: 20px;
}
div#print_container_footer font{
    font-size: 18px;
}
font{
    color: #000;
}
font#print_container_header_company_adderss{
    font-size: 12px;
}
img#logo_bill{
    width: 100%
}